<%- contentFor('secao1') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <%- contentFor('secao2') %>
        <div class="row header">
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <div id="usuario-status">
                            <h4 class="link-titulo">Usuário: Admin</h4>
                        </div>
                        <h3 class="link-titulo" onclick="location.href='/'">
                            <a href="/" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 9.png" width="30" height="30" alt="" title="Home"/></a>
                            Home
                        </h3><br/>                
                        
                        <%= if(user==='admin'){ %>
                        <h3 class="link-titulo" onclick="location.href='/menuUser'">
                            <a rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 10.png" width="30" height="30" alt="" title="Usuario"/></a>
                            Usuário
                        </h3>
                        <ul class="box">
                            <li><a href="/menuUser">Lista de Usuários</a></li>
                        </ul>              
                        <%= }%>
                        <h3 class="link-titulo" onclick="location.href='/listSale'">
                            <a href="/listSale" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 11.png" width="30" height="30" alt="" title="Usuario"/></a>
                            Vendas
                        </h3>
                        <ul class="box">					
                            <li><a href="/listSale">Lista de Vendas</a></li> 			
                            <li><a href="#">Cadastro de Vendas</a></li> 			
                        </ul>                    
                        <h3 class="link-titulo" onclick="location.href='/listProduct'">
                            <a href="/listProduct" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 12.png" width="30" height="30" alt="" title="Usuario"/></a>
                            Estoque
                        </h3>
                        <ul class="box">
                            <li><a href="/listProduct">Lista de Estoque</a></li>
                            <li><a href="#">Cadastro de Produtos</a></li>
                        </ul>   
                        <h3 class="link-titulo" onclick="location.href='/myProfile'">
                            <a href="/myProfile" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 13.png" width="30" height="30" alt="" title="Usuario"/></a>
                            Meu Perfil
                        </h3>             
                    </ul>
                </div>
            </nav>
            <div class="col-5">
                <a onclick="location.href='/'" id="title">VENDAS NOW</a>
            </div>
            <div class="col-5">
                <a href="" id="title-desc">Sobre a Loja</a>
            </div>
            <div class="col-1">
                <button class="button-header" onclick="window.location.replace('/login')" >Sair</button>
            </div>
        </div>
        <div>
            <div class="container">
                <div id="conteudo">
                    <div class="container-header">
                        <h5><b>Lista de Usuários</b></h5>
                    </div>
                    <div class="container-descricao">
                        <label>Os usuários relacionados representam todos os cadastros do sistema</label>
                    </div>
                    <div id="my-container">
                    </div>
            
                    <div class="pagination">
                        <ul class="pagination" >
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a class="active" href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <%- contentFor('secao3') %>    
<script type="text/javascript" src='scripts/user/menu-user.js'></script>

